body {
	background: #fff;
}
#navbar img {
	border: none;
	margin-top: 8px;
}
.photo {
	border: 6px ridge #369;
}

#navbar a:link, #navbar a:visited, #navbar a:active {
	font-size: 85%;
	color: #369;
	text-decoration: none;
}
#navbar a:hover {
	color: #C36;
	}	
#banner {
	background: url(banner_bg.jpg) no-repeat center center;
}
/*popup rules*/
#navbar a span {
	display: none;
}
#navbar a:hover {
   background: #fff;
}
#navbar a:hover span {
	display: block;
	position: absolute;
	z-index: 10;
	width: 200px;
	top: 10em;
	left: 60px;
}
