/* CSS Document */

body {
color: white; 
font-family: "Comic Sans MS";
background-color: black;
margin-left: 15%;
margin-right: 15%;
}

h1 {
font-size: 100%;
text-align: center;

}
#planets {
  margin-left: 60%;
  clear:right;
  border-bottom: 2px solid white;
 /* float: right;*/
  /*margin-bottom: 10px;*/
}
#content img {
 
  float: left;
 }
/*mainnav styles*/
#nav a:link {
  color: #33cc00;
  background: url(img/linkbg.jpg);
}

#nav a:visited {
  color: #666;
  background: url(img/visitedbg.jpg);
}
#nav a:hover, #nav a:active {
  color: #33cc00;
  background: url(img/hooverbg.jpg);
  border-left: 2px solid;
  border-bottom: 2px solid;
  font-size: 1.2em;
  text-decoration: none;
}
#nav a.current:visited {
  color: #foo;
  text-decoration: none;
  padding-top: 6px;
  padding-bottom: 6px;
}
#nav a span {
  display: none;
}
#nav a:hover span {
  display: block;
  position: absolute;
  z-index: 10;
  width: 100px;
  top: 5em;
  left:150px;
}
#footer {
  font-size: small;
  border-top: 2px solid white;
}
/* table css */
.rowshade {
  background: #666;
}
caption {
  border-top: dotted #666;
  padding-top: 10px;
}
table {
  border-collapse: collapse;
  margin: auto;
}
th, td {
  padding: 3px;
  vertical-align: top;
}
#home {
  float: left;
  margin-top: -80%;
}
