/* CSS Document */

body {
  backgound-color: #??????;
  margin-right: 15%;
  margin-left: 15%;
  color: #??????;
  font-family: Arial, Helvetica, sans-serif;
} 

h1, h2, h3 {
background-color: #ffff66;
}
h1 {
text-align: center;
border-left: 5px;
margin-left: 2px solid;
margin-top: 2px;
}

h2 {
text-align: center;
border-left: 5px;
margin-left: 2px solid;
margin-top: 2px;
}

h3 {
border-left: 5px;
margin-left: 2px solid;
margin-top: 2px;
}
